<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Quotes Header-->
  <section class="wrapper-plan1" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <header class="page-header" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <h2 class="ff fs-14 ft-wt">Medical Testing</h2>
      <h2 class="header-title">Schedule Bloodwork</h2>
      <p class="ff fs-14 ft-wt mt-10">At the appointment, you are required to present documentation with your prescription.</p>
    </header>
    <mat-card class="n-m n-p n-sh">
      <img mat-card-image src="assets/img/dummy-map-jpg.png" alt="Medical Test">
      <mat-card-content class="bg-gray" fxLayout="column" fxLayoutAlign="center center" style="margin-top: -4px;">
        <input type="text" class="zip-input" placeholder="Enter Zipcode">
      </mat-card-content>
    </mat-card>

    <mat-form-field appearance="outline" class="w-90 mt-50">
      <mat-label>Pick Location</mat-label>
      <mat-select [(ngModel)]="loc" (selectionChange)="onChangedLoc($event)">
        <mat-option *ngFor="let location of locations" [value]="location">
          {{location}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-stroked-button routerLink="/medical-test" color="primary" class="btn-color">BACK</button>
      <button mat-flat-button (click)="goToNext()" class="black_color">BOOK</button>
    </section>

  </section>
  <!--Footer-->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>