<!-- Header -->
<ion-header>  
  <ion-toolbar>  
    <ion-buttons slot="start" >
      <ion-back-button text="" color='dark'><ion-icon name="arrow-back"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" color="dark">  
      <ion-menu-button color="dark"></ion-menu-button>  
    </ion-buttons>  
    <ion-title>  
      <img src="../../assets/img/life+logo_black.png" alt="Life+ Logo">
    </ion-title>  
  </ion-toolbar>  
</ion-header> 
<!-- End of Header -->
<ion-content>
  <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <header>
      <h1>LET'S FIND SOMEONE <br/>IN YOUR AREA</h1>
    </header>

    <ion-card class="map-card">
      <div #map id="map"></div>
    </ion-card>
    
  </section>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="ENTER YOUR ZIP CODE" [(ngModel)]="zipCode">
    </mat-form-field>
  <button mat-flat-button color="accent" (click)="searchZipCode(zipCode)">SEARCH</button>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-flat-button color="accent" (click)="navigateToNextPage()">NEXT</button>
</div>
</ion-content>
