<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- end of header -->

<!-- First Content  -->
<ion-content>
  <!-- Landing page starts from here -->
  <section class="content">
    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="../../assets/img/welcome-lifeplus.svg" alt="Welcome_Img" />
    </div>
    <div class="wrapper ion-text-center" fxLayout="column">
      <mat-card>
        <mat-card-title [innerHtml]=DOM_CONSTANTS.PLAN_HEADER1></mat-card-title>
        <mat-card-content>
          <p [innerHtml]=DOM_CONSTANTS.PLAN_BODY ></p>
        </mat-card-content>
        <div>
          <mat-card-subtitle class="col-blk">{{DOM_CONSTANTS.PLAN_HEADER2}} </mat-card-subtitle>
          <mat-card-title class="col-blk">{{DOM_CONSTANTS.PLAN_SUB_HEADER2}}</mat-card-title>
        </div>
        <mat-card-content>
          <p [innerHtml]=DOM_CONSTANTS.PLAN_BODY2></p>
          <p [innerHtml]=DOM_CONSTANTS.PLAN_BODY_2></p>
        </mat-card-content>
      </mat-card>
    </div>
    <!--  -->
    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="../../assets/img/Plan_Ahead-02.svg" alt="Plan_Ahead_Img" />
    </div>
    <div class="wrapper ion-text-center" fxLayout="column">
      <mat-card>
        <mat-card-subtitle class="col-blk">{{DOM_CONSTANTS.PLAN_HEADER3}}</mat-card-subtitle>
        <mat-card-title [innerHtml]=DOM_CONSTANTS.PLAN_SUB_HEADER3></mat-card-title>
        <mat-card-content>
          <p [innerHtml]=DOM_CONSTANTS.PLAN_BODY3></p>
        </mat-card-content>
      </mat-card>
    </div>

    <!--  -->
    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="../../assets/img/Life_Plus_Collaboration-01-01.svg" alt="Life_Plus_Img" />
    </div>
    <div class="wrapper ion-text-center" fxLayout="column ">
      <div class="mt-40">
        <button mat-flat-button class="black_color" [routerLink]="['/home/chooseplan']" routerLinkActive="router-link-active">{{DOM_CONSTANTS.PLAN_GETTING_STARTED.TITLE}}</button>
      </div>
      <!-- step One and two -->
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px" class="mt-50">
        <div fxLayout="column" fxLayoutGap="10px">
          <div fxLayoutAlign="center center">
            <img src="../../assets/img/step1.svg" alt="Winner_Img" />
          </div>
          <div>
            <button mat-flat-button class="black_color" [routerLink]="['/home/chooseplan']" routerLinkActive="router-link-active">{{DOM_CONSTANTS.PLAN_STEP_ONE.TITLE}}</button>
          </div>
          <div>
            <p class="btn-content" [innerHtml]=DOM_CONSTANTS.PLAN_STEP_ONE.CONTENT></p>
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px" class="mt-20">
          <div fxLayoutAlign="center center">
            <img src="../../assets/img/step2.svg" alt="Stroke_Img" />
          </div>
          <div>
            <button mat-flat-button class="black_color" [routerLink]="['/home/insurance-calculator']">
          {{DOM_CONSTANTS.PLAN_STEP_TWO.TITLE}}</button>
          </div>
          <div>
            <p class="btn-content" [innerHtml]=DOM_CONSTANTS.PLAN_STEP_TWO.CONTENT></p>
          </div>
        </div>
      </div>
      <!-- step three and Four -->
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
        <div fxLayout="column" fxLayoutGap="10px">
          <div fxLayoutAlign="center center">
            <img src="../../assets/img/step3.svg" alt="Star_Img" />
          </div>
          <div>
            <button mat-flat-button class="black_color" [routerLink]="['/home/budget']" routerLinkActive="router-link-active">{{DOM_CONSTANTS.PLAN_STEP_THREE.TITLE}}</button>
          </div>
          <div>
            <p class="btn-content" [innerHtml]=DOM_CONSTANTS.PLAN_STEP_THREE.CONTENT></p>
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <div fxLayoutAlign="center center">
            <img src="../../assets/img/step4.svg" alt="SpotLight_Img" />
          </div>
          <div>
            <button mat-flat-button class="mt-50 black_color" [routerLink]="['/home/health']">
            {{DOM_CONSTANTS.PLAN_STEP_FOUR.TITLE}}</button>
          </div>
          <div>
            <p class="btn-content" [innerHtml]=DOM_CONSTANTS.PLAN_STEP_FOUR.CONTENT></p>
          </div>
        </div>

      </div>
      <!-- Read more -->
      <div class="20px">
        <mat-card>
          <div>
            <mat-card-subtitle class="col-blk">{{DOM_CONSTANTS.PLAN_HEADER4}}</mat-card-subtitle>
            <mat-card-title [innerHtml]=DOM_CONSTANTS.PLAN_SUB_HEADER4></mat-card-title>
          </div>
          <mat-card-content>
            <mat-label class="que-label">{{DOM_CONSTANTS.PLAN_HEADER_4}}</mat-label>
            <mat-form-field appearance="outline">
                <mat-label>{{DOM_CONSTANTS.PLAN_SUB_HEADER_4}}</mat-label>
              <mat-select matNativeControl [(value)]="none">
                 <mat-option *ngFor="let status of maritalStaus" [value]="status.name">{{status.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <div fxLayout="column" fxLayoutGap="2px">
              <div>
                <img src="../../assets/img/female.svg" alt="Female_Img"/>
              </div>
              <div>
                <button mat-flat-button class="black_color" [routerLink]="['/home/insurance-calculator']" >
                {{DOM_CONSTANTS.PLAN_READ_MORE.TITLE}}</button>
              </div>
            </div>
            <div fxLayout="column" fxLayoutGap="27px">
              <div>
                <img src="../../assets/img/male.svg" alt="male_Img" />
              </div>
              <div>
                <button mat-flat-button class="black_color" [routerLink]="['/home/insurance-calculator']" >
                {{DOM_CONSTANTS.PLAN_READ_MORE.TITLE}}</button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </section>
  <!-- Landing page ends here -->
  <!-- Footer -->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
  <!-- End of footer -->
</ion-content>
<!-- End of the Home Page content -->