
<ion-header  >  
  <ion-toolbar transparent>  
    <ion-buttons slot="end" color="dark">  
      <ion-menu-button></ion-menu-button>  
    </ion-buttons>  
    <ion-title>  
      life.
    </ion-title>  
  </ion-toolbar>  
</ion-header>

  <ion-content class="card-background-page" fullscreen>

    <ion-card class="m-0">
      <img src="../../assets/img/welcome-p-img.png"/>
      <div class="card-title">WELCOME TO LIFE+</div>
      <div class="card-subtitle">DISCOVER <br>HE RIGHT QUOTE</div>
    </ion-card>
  </ion-content>

