.medical-header {
    font-family: Proxima Soft;
    font-size: 16px;
    font-weight: bold;
    color: #070707 !important;
    text-align: left;
  }

  .subhding {
    padding:0px 30px;
    font-family: Proxima Soft;
    font-size: 16px;
    font-weight: bold;
    color: #070707 !important;
    text-align: left;
  }

  .medical-subheader{
    margin:13px 0px 0px 0px;
    font-family:Playfair Display;
    font-size:24px;
    font-weight: bold;
    color:#000 !important;
  }


  medical-subheader1{
   
    bottom:0px;
    margin:30px 0px 0px 0px;
    font-family:Playfair Display;
    font-size:16px;
    font-weight: bold;
    color:#000 !important;


  }
  .medical-content-insur { 
  word-break: break-all;;
    font-family: Proxima Soft;;
    font-size: 16px;
    font-size: large;
    color: #000 !important;
  }
  .wrapper-plan1 {
    padding: 30px 20px;
  }

  .center-medical{
    font-family: Proxima Soft;
    font-size: 16px;
    font-weight: bold;
    color: #070707;
    text-align: center;
    
    padding: 10px 80px;
  }
  .centeror{
    font-family: Proxima Soft;
    font-size: 16px;
    font-weight: bold;
    color: #070707;
    text-align: center;
    float: right;
    padding: 10px 60px;
  }

  .center-button{
    font-family: Proxima Soft;
    font-size: 16px;
    font-weight: bold;
    color: #070707;
    text-align: center;
    word-wrap: break-word;
    
    // padding: 9px 20px;
  }
  