<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo"  (click)="gotoHomePage()">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Quotes Header-->
  <section class="wrapper-plan1" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <header fxLayoutAlign="center center">
      <h5 class="medical-header">Medical Test </h5>
    </header>
    <div fxLayoutAlign="center center" >
      <h2 class="medical-subheader">Get your result</h2></div>
    
  <!--Quotes-->
  <mat-card class="plan-card mat-elevation-z0">
    <div fxLayout="column" class="quote-img">
      <img src="../../../assets/img/medical-exam.png">
      <!-- <img [src]="quo.prodImg" alt="dummy-image"> -->
    </div>
    <h5 class="medical-subheader1" style="text-align: center;">IN PERSON</h5>
    <p class="medical-content-insur">Schedule an appointment for blooddwork and doctor's visit</p>
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <div class="center-button">
            <button mat-raised-button ="Basic" (click)="onsechdule()" >BACK</button>
           </div>
        </ion-col>
        <ion-col size="5">
            <div class="center-button">
              
             <button mat-flat-button color="primary" (click)="onsechdule()"  style="background-color: #000;">SCHEDULE</button>
  
        
            </div>
          </ion-col>


        <!-- <ion-col size="9">
            <div class="centeror">
              OR
        
            </div>
          </ion-col> -->
<!-- 
          <div fxLayout="column" class="quote-img">
              <img src="../../../assets/img/medical-exam-2.png">
            
            </div>
            <h5 class="subhding">FACIAL RECOGNITION </h5>
    <p class="plan-content-insur">use our facial recogition tool to do an additional health check.</p>
    <ion-col size="9">
        <div class="center-medical">

            <button mat-flat-button color="primary" >SCANNER</button> 
      
            
        </div>
      </ion-col>
        
          <div>
           
          </div> -->
       
      </ion-row>
    </ion-grid>

   
  </mat-card>
  </section>
      <!--Footer-->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>