<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Quotes Header-->
  <section class="wrapper-plan1" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <header class="page-header" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <!-- <h1>Medical Testing</h1> -->
      <h2 class="header-title">Schedule Doctor's Visit</h2>
      <!-- <p>At the appointment, you are required to present documentation with your prescription. </p> -->
    </header>

    <!-- <div class="form-row format-date"> <span class="date-display"></span>

      <input type="date" class="hide-replaced" />
  </div>
  <div class="form-row">
      <input type="submit" />
  </div> -->
  




  <!-- <hello name="{{ name }}"></hello> -->
  
  
  




  


  
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="20%"  >
      <mat-card>
          <!-- <input matInput [matDatepicker]="picker"
          (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
        <input type="text" matInput> -->
        <mat-calendar style="background-color: #F8F8F8;" #picker [selected]="selectedDate" type="text"  matInput  (selectedChange)="onSelect($event)"></mat-calendar>
      </mat-card>
    </div>

     </div>

     <div class="example-events">
        <h5>Available Times</h5>
        
          <p style="border:1px solid #000; width:20%; text-align: center;">9:00AM</p>
          
          <p style="border:1px solid #000; width:20%; text-align: center;">9:00AM</p>
          
         
          <p style="border:1px solid #000; width:20%; text-align: center;">9:00AM</p>
          <p style="border:1px solid #000; width:20%; text-align: center;">9:00AM</p>
          </div>
        
  


<!-- </div></div> -->

    <mat-form-field appearance="outline" class="w-90">
      <mat-label>Pick Location</mat-label>
      <mat-select>
        <mat-option *ngFor="let timing of timings" [value]="timings">
          {{timings}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="outline" class="w-90">
      <mat-label>Pick Location</mat-label>
      <mat-select>
        <mat-option *ngFor="let timing of timings" [value]="timing">
          {{timing}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
   <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-stroked-button routerLink="/medical-exam/sechdule-appointment" color="primary">BACK</button>
      <button mat-flat-button routerLink="/medical-exam/schdule-booked" class="black_color">BOOK</button>
    </section>

  </section>
  <!--Footer-->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>