<!-- Chat page  -->
<ion-header class="chat-page-header" fxLayout="column" fxLayoutAlign="center center" fxLayout-fill>
  <ion-toolbar color="light">
  <div fxLayout="column" fxLayoutAlign="center center"  class="m-15">
    <img mat-card-avatar src="assets/img/bot-avatar.png" alt="bot-avatar">
  </div>
  <ion-title class="chat-title">Bot Name</ion-title>
  <ion-buttons slot="end" class="btn-close">
       <ion-icon size="large" slot="icon-only" name="close-circle" (click)="closeModal()"></ion-icon>
  </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content class="chat-content">
<ng-container *ngFor="let message of messages | async">
  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
          'to': message.sentBy === 'user' }">
  {{ message.content }} 
  </div>
</ng-container>
</ion-content>
<ion-footer fxLayout="row" fxLayoutAlign="center center">
<ion-toolbar>
    <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" placeholder="your message...."
    id="message-ip">
    <span (click)="sendMessage()" class="message-sendIcon">
    <mat-icon>send</mat-icon>
  </span>
</ion-toolbar>
</ion-footer>
<!-- end of the chatpage -->