ion-toolbar {
    --border-width: 0 !important;
}
.mat-icon-button {
    margin-top: 10px;
}
/* input text Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    border: 1px solid grey;
    border-radius:25px !important;
  }