<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title fxLayout="row" fxLayoutAlign="center center">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- End of Header -->
<ion-content>
  <section  class="wrapper-auth ion-text-center content signin-section" fxLayout="column" fxLayoutAlign="center center">
   
      <header>
        <p class="header">{{htmlText.login_welcome_header}}</p>
        <p class="sub-header">{{htmlText.login_welcome_subheader}}</p>
      </header>
              <form class="signin" [formGroup]="loginForm">
                <p class="form-label"><label for="uname">{{htmlText.username}}</label></p>
                <mat-form-field appearance="outline" class="form-input-control mb-20">
                  <input formControlName="lname" matInput type="text" placeholder="name@domain.com" value="" id="uname">
                  <!-- <mat-error>Invalid username</mat-error> -->
                </mat-form-field>
                <p class="form-label"><label for="uname">{{htmlText.password}}</label></p>
                <mat-form-field appearance="outline" class="form-input-control mb-20">
                  <input formControlName="password" matInput type="password" placeholder="Password" value="">
                  <!-- <mat-error>Invalid password</mat-error> -->
                </mat-form-field>
                <div class="mt-30"> 
                  <a mat-button class="fs-14 col-blk f-weight-n" routerLink=".">{{htmlText.rememberme_link}}</a>
                  <a mat-button class="fs-14 col-dull-grey text-underline" routerLink=".">{{htmlText.forgot_pwd}}</a>
              </div>
                <div class="mt-20"> 
                    <button type="submit" class="btn bg-gray col-wht" mat-stroked-button [disabled]="!loginForm.valid" (click)="onFormsubmit()">{{htmlText.login_btn}}</button>
                    <button class="btn bg-white col-blk" mat-stroked-button (click)="signup($event)" >{{htmlText.signup_btn}}</button>
                </div>
            </form>
    </section>
 
    </ion-content>
    <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
      <ion-text class="align-item-bottom">
        <ion-label class="fl-footer-content">
           77 Water St 8th Floor,<br/> Manhattan, NY 10005
       </ion-label>
     </ion-text>
     <ion-text class="align-item-bottom">
       <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
       </ion-label>
     </ion-text>
    </footer> 