<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo" (click)="gotoHomePage()">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="wrapper-auth pt-2 content signup-section" fxLayout="column" fxLayoutAlign="center center" *ngIf="!isSignup">
      <header class="my-3">
        <p class="header">{{htmlText.signup_header}}</p>
      </header>
      <form [formGroup]="signupForm" (ngSubmit)="onFormsubmit()">
        <p class="form-label mb-0"><label for="fname">{{htmlText.firstName}}</label></p>
        <mat-form-field appearance="outline" class="form-input-control mb-20">
          <input formControlName="firstName" matInput placeholder="First Name" id="fname">
          <!-- <mat-error>Invalid email</mat-error> -->
        </mat-form-field>
        <p class="form-label mb-0 mt-3"><label for="uname">{{htmlText.username}}</label></p>
        <mat-form-field appearance="outline" class="form-input-control mb-20">
          <input formControlName="userName" matInput placeholder="Username" id="uname">
        </mat-form-field>
        <p class="form-label mb-0 mt-3"><label for="pwd">{{htmlText.password}}</label></p>
        <mat-form-field appearance="outline" class="form-input-control mb-20">
          <input formControlName="signupPwd" type="password" matInput placeholder="8-25 characters" id="pwd">
        </mat-form-field>
        <p class="form-label mb-0 mt-3"><label for="location">{{htmlText.location}}</label></p>
        <mat-form-field appearance="outline" class="form-input-control mb-20">
          <input type="number" formControlName="location" matInput placeholder="Zip code" id="location">
          <!-- <mat-error>Invalid email</mat-error> -->
        </mat-form-field>
        <div class="mt-3 text-left">
          <mat-checkbox class="terms-cond" formControlName="termsAndCond">{{htmlText.terms_cond}}</mat-checkbox>
        </div>
        <div class="mt-4 text-center">
          <button type="submit" class="btn bg-blk col-wht" mat-stroked-button
            [disabled]="!signupForm.valid"><strong>{{htmlText.submit_btn}}</strong></button>
        </div>
      </form>
  </section>
  
    <section *ngIf ="isAccountVerified === true" class="ion-text-center">
      <img class="wel-img" [src]="'../../../../assets/img/welcome-lifeplus.svg'">
      <header class="pt-4">
        <p class="header">{{htmlText.welcome_header}}</p>
        <p class="subheader mb-0">{{htmlText.welcome_subheader}}</p>
        <p class="subheader mt-0">{{htmlText.welcome_subheader1}}</p>
      </header>
      <div class="mt-30">
        <button class="btn bg-blk col-wht" mat-stroked-button
          (click)="signin()"><strong>{{htmlText.signin_btn}}</strong></button>
      </div>
      <div class="mt-30">
        <a mat-button class="fs-14 col-dull-grey text-underline"
          routerLink=".">{{htmlText.resent_verification_link}}</a>
      </div>
    </section>
  
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>