.ht-141{
    height:120px;
}
.footer {
    height: 141px;
    background-color: #272727;
    color: white;
    line-height: 50px;
    padding: 0 20px;

    .lp-f-txt {
        font-size: 9px;
    }
  }

