<!-- <ion-footer>  
  <ion-toolbar color="dark"> 
    <ion-text>
      <ion-label>77 Water St 8th Floor,<br/> 
      Manhattan, NY 10005</ion-label>
     </ion-text> 
    <ion-text end>
        <ion-label >Copyright Life+ © 2020</ion-label>
    </ion-text>
  </ion-toolbar>  
</ion-footer>  -->
<footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
  <ion-text class="align-item-bottom">
    <ion-label class="fl-footer-content">
       77 Water St 8th Floor,<br/> Manhattan, NY 10005
   </ion-label>
 </ion-text>
 <ion-text class="align-item-bottom">
   <ion-label class="fl-footer-content">
    Copyright Life+ © 2020
   </ion-label>
 </ion-text>
</footer>
