<!-- <ion-footer>  
  <ion-toolbar color="dark"> 
    <ion-text>
      <ion-label>77 Water St 8th Floor,<br/> 
      Manhattan, NY 10005</ion-label>
     </ion-text> 
    <ion-text end>
        <ion-label >Copyright Life+ © 2020</ion-label>
    </ion-text>
  </ion-toolbar>  
</ion-footer>  -->
<ion-footer > 
    <ion-toolbar color="dark" class="footer-p-40" > 
     <ion-text>
       <ion-label class="fl-footer-content">
          77 Water St 8th Floor,<br/> Manhattan, NY 10005
      </ion-label>
      <ion-label class="fr-footer-content">
          Copyright Life+ © 2020
      </ion-label>
    </ion-text>
 </ion-toolbar>
</ion-footer> 
