ion-content.menu-bar {
    --ion-background-color: #222;
    opacity: 0.95;
    .menu-item {
        font-size: 18px;
        color: #fff;
    }
    .menu-list {
        &:first-child {
            padding-top: 30px;
        }
        margin-top: 0;
        padding-bottom: 0;
    }
    .menu-step {
        border: 2px solid grey;
        border-radius: 50%;
        min-width: 27px;
        margin-right: 10px;
        text-align: center;
    }
  }
  .img-container {
    width: 25px;
    height: 25px;
    .profile-img {
        background-size: cover;
        border-radius: 50%;
    }
}

  