<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<ion-menu side="start" menuId="beforeLogin" contentId="content" id="unauthenticated">
  <ion-header>
    <ion-toolbar>
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-bar">
    <ion-list *ngFor="let pages of navigateBeforeSignin$ | async; let i = index" lines="none" class="menu-list">
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="pages.url" routerDirection="forward" detail-none class="menu-item">
          <!-- <ion-icon [name]="pages.icon" slot="start"></ion-icon>   -->
          <span *ngIf="pages.isStep && !pages.isCompleted" class="menu-step">{{i+1}}</span>
          <mat-icon *ngIf="pages.isStep && pages.isCompleted === true" class="mr-5">check_circle_outline</mat-icon>
          {{pages.title}}
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-menu side="start" menuId=" " contentId="content" id="authenticated">
  <ion-header>
    <ion-toolbar>
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-bar">
    <ion-list *ngFor="let pages of navigateAfterSignin$ | async; let i = index" lines="none" class="menu-list">
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="pages.url" routerDirection="forward" detail-none class="menu-item">
          <!-- <ion-icon [name]="pages.icon" slot="start"></ion-icon>   -->
          <span *ngIf="pages.isStep && !pages.isCompleted" class="menu-step">{{i+1}}</span>
          <mat-icon *ngIf="pages.isStep && pages.isCompleted" class="mr-5">check_circle_outline</mat-icon>
          {{pages.title}}
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>