ion-content.menu-bar {
    --ion-background-color: #CCCCCC;
    .menu-item {
        font-size: 18px;
        color: #070707;
    }
    .menu-list {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
  }