<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="wrapper-plan" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <header fxLayoutAlign="center center">
      <h2 class="header-title">{{DOM_CONSTANTS.PLAN_HEADER}}</h2>
    </header>
    <p fxLayoutAlign="center center" class="plan-content txt-align">{{DOM_CONSTANTS.PLAN_SUB_HEADER }}</p>

    <!--Plans accordion-->
    <mat-accordion class="mt-50">
      <mat-expansion-panel *ngFor="let item of DOM_CONSTANTS.PLANS">
        <mat-expansion-panel-header>
          <mat-panel-title class="plan-content">
            {{ item.EXP_HEADER }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="plan-content" [innerHtml]=item.EXP_BODY></div>
      </mat-expansion-panel>
    </mat-accordion>

    <!--Comparision Tool-->

    <header fxLayoutAlign="center center" fxLayoutGap="30px">
      <p class="mt-50 header-title pt-13 ">{{DOM_CONSTANTS.COMP_TBL_HEADER}}</p>
    </header>

    <mat-table [dataSource]="dataSource" *ngIf="dataSource.length > 0" class="mat-elevation-z0 mt-10">
      <ng-container matColumnDef="comparison">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-cell-content"> {{element.comparison}} </mat-cell>
      </ng-container>

      <!-- Term Column -->
      <ng-container matColumnDef="term">
        <mat-header-cell *matHeaderCellDef> Term </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.term == 1">
            <mat-icon class="green-icon">done</mat-icon>
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- Perm Column -->
      <ng-container matColumnDef="perm">
        <mat-header-cell *matHeaderCellDef> Perm </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.perm == 1 ">
            <mat-icon class="green-icon">done</mat-icon>
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- Variable Column -->
      <ng-container matColumnDef="var">
        <mat-header-cell *matHeaderCellDef> Variable </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.var == 1 ">
            <mat-icon class="green-icon">done</mat-icon>
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- Life+ Column -->
      <ng-container matColumnDef="lifeplus">
        <mat-header-cell *matHeaderCellDef> Life+ </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.lifeplus == 1">
            <mat-icon class="green-icon">done</mat-icon>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-cell-content"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </section>

  <section div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" class=" mb-70">
    <p class="plan-content txt-align">{{DOM_CONSTANTS.COVG_HEADER}}</p>
    <button mat-flat-button color="primary" (click)="getInsCal()">{{BTN.INS_CAL}}</button>
  </section>

  <!--Footer-->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>