<ion-header>  
  <ion-toolbar>  
    <ion-buttons slot="start" >
      <ion-back-button text="" color='dark'><ion-icon name="arrow-back"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" color="dark">  
      <ion-menu-button color="dark"></ion-menu-button>  
    </ion-buttons>  
    <ion-title fxLayout="row" fxLayoutAlign="center center">  
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo" >
    </ion-title>  
  </ion-toolbar>  
</ion-header> 
<p>
  choose-plan works!
</p>
