.camera-section {
  width: 90%;
  min-height: 250px;
  margin-top: 30px;
}
.facial-header {
  font-family: Proxima Soft;
  font-size: 14px;
  font-weight: bold;
  color: #070707;
}
.header-title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
.plan-content {
  font-family: Proxima Soft;
  font-size: 16px;
  color: #070707 !important;
  margin-left: 30px;
  margin-right: 20px;
  text-align: center;
}
.photo-img {
  width: 45px;
  height: 45px;
}
.btn-retake {
  font-family: Proxima Soft;
  font-size: 16px;
  color: #cccccc;
}
.txt-or {
  margin-right: 15px;
  font-weight: bold;
}
.bg-col {
  background-color: #f8f8f8;
}
.btn-black {
  background-color: black;
  color: white;
  font-family: SF Pro Display;
  width: 240px;
  font-size: 15px;
}
.btn-grey {
  background-color: #f6f6f6;
  font-family: SF Pro Display;
  font-size: 15px;
  width: 240px;
  margin-top: 15px;
}
.select-pay {
  font-family: Helvetica Neue;
  font-size: 18px;
}
