<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo" (click)="gotoHomePage()">
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Header Section-->
<ion-content>
<section class="content">
  <div class="wrapper ion-text-center" fxLayout="column" fxLayoutAlign="center center">
    <header>
      <p class="subtitle">{{ DOM_CONSTATNTS.BLOOD_SCH_HEADER }}</p>
    </header>
    <div fxLayout="row" fxLayoutAlign="center center" >
      <mat-card  class="calendar-display">
        <mat-calendar #calendar  [selected]="selectedDate"  [minDate]="minDate" 
      (selectedChange)="onSelect($event)"></mat-calendar>
      </mat-card>
    </div>
    <!--TimeSlot section-->
    <section class="mt-20">
      <div fxLayout="column">
        <mat-card>
          <mat-card-title fxLayoutAlign="start" class="title">{{ DOM_CONSTATNTS.AVAL_TIME}}</mat-card-title>
          <mat-card-content fxLayout="row warp"  fxLayoutGap="10px">
              <span class="time-slot-list" *ngFor="let appt of availTimeslot" matRippleDisabled="disabled"  [ngClass]="selectedTime === appt ? 'selected-time-slot' : ''">
                    {{appt}}
              </span>
              </mat-card-content>

          <mat-label fxLayoutAlign="start" class="title mt-20">{{DOM_CONSTATNTS.CHOOSE_TIME}}</mat-label>
          <mat-card-content>
            <mat-form-field appearance="outline" style="width:300px">
              <mat-select (selectionChange)="onChangedSort($event)">
                <mat-option *ngFor="let timing of backendData" [value]="timing" >
                  {{timing}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
    <!-- bottom section -->
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
        <button mat-button>
        <span>
          <ion-icon name="mail"></ion-icon>
        </span>
      </button>
        <!-- need an anchor tag -->
        <p class="title">{{DOM_CONSTATNTS.EMAIL}}</p>
      </div>
      <div fxLayout="row">
        <p class="title note">{{DOM_CONSTATNTS.NOTE}}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="mt-20">
        <button mat-stroked-button class="btn-color" (click)="getPrevious()">{{DOM_CONSTATNTS.BTN.BACK| uppercase}}</button>
        <button mat-flat-button color="primary" (click)="goToNext()">{{DOM_CONSTATNTS.BTN.BOOK| uppercase}}</button>
      </div>
    </div>
  </div>
</section> 
 <!-- footer -->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>
<!-- Footer -->