.n-m {
  margin: 0px !important;
}
.n-p {
  padding: 0px !important;
}
.n-sh {
  box-shadow: none !important;
}
.mat-card-image{
  margin: 0 !important;
}
.zip-input{
margin: 10px !important;
  padding: 4px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  text-align: center;
}
.w-90 {
width: 80% !important;
}
//manjeet

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
}
.custom-day:hover, .custom-day.focused {
  background-color: #e6e6e6;
}
.weekend {
  background-color: #f0ad4e;
  border-radius: 1rem;
  color: white;
}
.hidden {
  display: none;
}

.example-events {
  width:100%;
  padding:20px;
  // height: 200px;
  // border: 1px solid #555;
  overflow: auto;
}
.title{
  font-family: proxima soft;
  font-size: 14px;
  font-weight: bold; 
  color: #000 !important;
}
.subtitle{
  
   font-family:Playfair Display;
   font-size:24px;
   font-weight: bold;
   color:#000;
 }
mat-card {
  transition: none !important;
  box-shadow: none !important;
}
.calendar-display{
  width:344px;
  height: 344px;
}
.note{

text-align: center;
word-wrap: break-word;
}


::ng-deep .mat-stroked-button {
border-color:transparent
}
::ng-deep .mat-calendar-header {
background-color: #E03997;
color:white !important
}
::ng-deep .mat-calendar{
background-color: #F8F8F8;
}
::ng-deep div.mat-calendar-arrow{
color:white !important
}
.mat-calendar-body-cell-content{
color:black !important;
}
::ng-host .mat-chip {
border-radius: 0px;
}
::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover,
.cdk-keyboard-focused .mat-calendar-body-active,
.cdk-program-focused .mat-calendar-body-active {
  & > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    background-color: rgba(255, 0, 212, 0.63);
    color:white;
  }
}
.email{
  color:black;
  text-decoration: none;
  margin: 20px;
  & .email_text{
    padding:40px;
  }
}

span.time-slot-list {
  border-radius: 3px;
  font-size: 12px;
  // color: black;
  border: 1px solid black;
  // background-color: white;
  width: 70px;
  height:25px;
  padding: 5px 8px;
  margin: 5px;
   &.selected-time-slot {
   color: #fff;
   background-color: #707070;
   }

  }

.btn-color{
  border:1px solid #00B5AD;
  color:black;

}
//calender
.time-slot{
  outline: 1px solid gray;
  height: 30px;
}
.custom-css-class {
  background-color: #F05252;
}
::ng-deep .mat-snack-bar-container{
  color: white !important;
  background-color: #F05252 !important;
  border-color: bisque !important;
}
::ng-deep .mat-simple-snackbar-action {
  color: white;
}

/* Highlight on hover */
.activity-day:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
/* Highlight */
.activity-day>div:not(.mat-calendar-body-selected) {
border-radius: 999px;
background-color: rgba(14, 152, 5, 0.25);
}