<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Quotes Header-->
  <section class="wrapper-plan1" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <header class="page-header" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <!-- <h1>Medical Testing</h1> -->
      <h2 class="header-title">Schedule Doctor's Visit</h2>

    </header>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="100%">
        <mat-card>
        <mat-calendar class="d-20" #picker [selected]="selectedDate" type="text" matInput
            (selectedChange)="onSelect($event)"></mat-calendar>
        </mat-card>
      </div>

    </div>

    <div class="example-events">
      <h5>Available Times</h5>

      <p class="l1-30">9:00AM</p>

      <p class="l1-30">10:00AM</p>

      <p class="l1-30">11:00AM</p>
      
    </div>
    

    <!-- choose Appointment-->
    <div class="mt-20">
      <p class="title">{{DOM_CONSTATNTS.CHOOSE_TIME}}</p>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field appearance="outline" class="w-90">
          <mat-label>{{DOM_CONSTATNTS.CHOOSE_TIME}}</mat-label>
          <mat-select (selectionChange)="onChangedSort($event)">
            <mat-option *ngFor="let timing of backendData" [value]="timing">
              {{timing}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    

    <mat-form-field appearance="outline" class="w-90">
      <mat-label>Timing</mat-label>
      <mat-select>
        <mat-option *ngFor="let timing of timings" [value]="timings">
          {{timing}}
        </mat-option>
      </mat-select>
    </mat-form-field>
 
    <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-stroked-button routerLink="/medical-exam/sechdule-appointment" color="primary">BACK</button>
      <button mat-flat-button routerLink="/medical-exam/appointment-details" class="black_color">BOOK</button>
    </section>
  </section>
  <!--Footer-->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>