
<ion-header>  
  <ion-toolbar>  
    <ion-buttons slot="start" >
      <ion-back-button text="" color='dark'><ion-icon name="arrow-back"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">  
      <ion-menu-button color="dark"></ion-menu-button>  
    </ion-buttons>  
   <ion-title class="ion-text-center app-name">  
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo" >
    </ion-title>  
  </ion-toolbar>  
</ion-header> 
<ion-content class="text-center">
<section class="wrapper ion-text-center content" fxLayout="column" fxLayoutAlign="center center">
  <div>
  <ion-card-title><img src="../../assets/img/circleImg1.png" alt="img1"  class="circled-img"/></ion-card-title>
 </div>
  <mat-card-subtitle class="page-header mt-10">{{PAGE_SUBTITLE}}</mat-card-subtitle>
  <mat-card-title>{{ PAGE_HEADER }}</mat-card-title>

  <section class="mt-20 mb-30">
    <mat-card-content>{{ PAGE_SUB_HEADER }}</mat-card-content>
 </section>

 <section fxLayout="column" class="mt-10 mb-20">
<mat-card-content  class="flex-container" fxLayout="row" fxLayoutGap="0.1%">
      <mat-card-content class="insurance-que">{{ PAGE_CONTENT_QUERIES }}</mat-card-content>
      <mat-icon>help_outline</mat-icon> </mat-card-content>
 </section>

  <section>
   <mat-button-toggle-group #matToggleGroup="matButtonToggleGroup"   name="fontStyle" aria-label="Font Style" class="custom-mat-btn-toggle-group mt-10 mb-10">
        <mat-button-toggle value="yes" class="yes-btn" >Yes</mat-button-toggle>
        <span class="circle">or</span>
        <mat-button-toggle value="no" class="no-btn" >No</mat-button-toggle>
   
      </mat-button-toggle-group>
  </section>   
 
<mat-card-header *ngIf="matToggleGroup.value === 'no'" class="mt-10 mb-20"> 
 <mat-card-content   class="que-header">{{INSURANCE_RECOMENDATION}}</mat-card-content>
 <mat-card-content  class="page-header" style="text-align: left;">{{BUTTON_CONTENT}}</mat-card-content>

 <mat-card-content  class="insurance-que" style="margin-right:40px;">{{ PAGE_CONTENT_US }} </mat-card-content>
 <mat-icon >help_outline</mat-icon></mat-card-header>

<section fxLayout="column" class="mt-10 mb-20">
    <mat-card-content  class="mt-10 mb-20" fxLayout="row" fxLayoutGap="0">
          <mat-card-content *ngIf="matToggleGroup.value === 'yes'" class="insurance-que">{{ PAGE_CONTENT_US1 }} </mat-card-content>
          <mat-icon  *ngIf="matToggleGroup.value === 'yes'">help_outline</mat-icon></mat-card-content>
    
</section>

<!--Toggle button two-->
<section>
  <mat-button-toggle-group #matToggleGroup2="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" class="custom-mat-btn-toggle-group mt-10 mb-10">
       <mat-button-toggle value="yes" class="yes-btn" >Yes</mat-button-toggle>
       <span class="circle">or</span>
       <mat-button-toggle value="no" class="no-btn" >No</mat-button-toggle>
  
     </mat-button-toggle-group>
 </section> 
 <div  class="flex-container mt-20" fxLayout="column" fxLayoutGap="0.1%">
  <mat-card-title *ngIf="matToggleGroup2.value === 'yes'">
      <header fxLayoutAlign="center center">
          <mat-card-title >{{ LETS_GETS_TARTED }}</mat-card-title>
           </header>

      <mat-progress-bar  mode="determinate" value="20"  class="mt-10 mb-20"></mat-progress-bar>
   
      
      <mat-card-content  *ngFor="let item of INSURANCE_CALCULATOR"  class="mt-20 mt-10">
       <div *ngFor="let que of item.QUESTIONS1">
          <mat-label class="que-subheader1">{{ que.INPUT_TYPE}}
         <input matInput type="text" name="currency1"  placeholder="0.00" class="border"></mat-label>
         <mat-icon class="mat-icon1" >help_outline</mat-icon>
        </div>
  <section class="flex-container mt-20px"style="padding:30px;" fxLayout="column" fxLayoutGap="0.1%"  >
    <mat-card-title  >{{ PAGE_BOTTOM }}</mat-card-title>
    <div class="currencyinput" >$<input type="text" id="txtbox"  placeholder="0.00" class="bordertxt"></div>
    </section> </mat-card-content></mat-card-title>
    <button mat-flat-button color="primary" (click)="InsuranceBudget()">{{BTTN.INSURANCE | uppercase}}</button>

    </div>
</section>

</ion-content>
<!-- Footer -->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
         77 Water St 8th Floor,<br/> Manhattan, NY 10005
     </ion-label>
   </ion-text>
   <ion-text class="align-item-bottom">
     <ion-label class="fl-footer-content">
      Copyright Life+ © 2020
     </ion-label>
   </ion-text>
  </footer>

