<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo" (click)="gotoHomePage()">
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Header Section-->
<ion-content class="text-center">
  <section class="wrapper1 ion-text-center content" fxLayout="column" fxLayoutAlign="center center">
    <div>
      <ion-card-title><img src="../../../../assets/img/Calculator-01.png" alt="img1" class="circled-img" /></ion-card-title>
    </div>
      <header class="page-header-insurance" fxLayout="column" fxLayoutAlign="center center">
           <h5>{{PAGE_SUBTITLE}}</h5>
              </header>
              <p class="txt">{{ PAGE_HEADER }}</p>
           <p fxLayoutAlign="center center" class="plan-content-insur txt-align">{{PAGE_SUB_HEADER }}</p>
 
    <!--Progress Bar-->
        <mat-progress-bar mode="determinate" value="20" class="mt-10 mb-20"></mat-progress-bar>
       <!--Question & Answer-->
        <section fxLayout="column" fxLayoutGap="20px" >
        <div fxLayout="row" fxLayoutAlign="start start" *ngFor="let item of INSURANCE_CALCULATOR.QUESTIONS">
          <div class="text w-50">
            <mat-label>{{ item.INPUT_TYPE }}</mat-label>
            <mat-icon class="icon12" >help_outline</mat-icon>
          </div>
          <mat-form-field appearance="outline" class="w-50" style="justify-content: end; align-items: flex-end;">
            <span matPrefix *ngIf="item.isAmt">$</span>
            <input type="number" matInput [(ngModel)]="item.VALUE" 
              (blur)="calculateCoverage()" class="ipt">
          </mat-form-field>
        </div>
        <p class="txt">{{PAGE_BOTTOM1}}</p>
        <mat-form-field class="w-100" appearance="outline">
          
          <span matPrefix>$</span>
          <input type="number" matInput value="0" disabled class="ipt"[(ngModel)]="totalCoverage">
        </mat-form-field>
      </section>
      <p></p>
      <p class="plan-content-insur"> {{STEP1_BOTTOM}}</p> 
      <button mat-flat-button color="primary" (click)="InsuranceBudget()">{{BTTN.INSURANCE | uppercase}}</button> 
      <p class="hgt">
      <a class="link" *ngIf="!isUerLoggedIn" (click)="createAccount()">{{ BTN.CREATE_ACCOUNT }}</a>
      </p>
  </section>
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>
<!-- Footer -->