.insurance-que {
    font-family: proxima nova;
    font-size: 15px;
    font-weight: bold;
    display: inline-flex;
    text-align: left;
}

.mat-button-toggle-group {
      border:none !important;
  }
  .border{
      border:2px solid grey;
       width:30%;
      float:right;
      line-height: 3px;
      text-align: right;
      margin-bottom: 10px;
  }
 .que-subheader1{
    font-family: inherit;
    font-size: 16px;
    display: inline-flex;
   text-align: left;
  
  }
  .currencyinput {
    border: 1px inset #ccc;
    margin: 5px
}
.currencyinput input {
    border: 0;
}
.bordertxt{
    text-align: right;
    width:50%;
    border:1px solid grey;
    height:30px;
}
.mat-icon1{
    float: left;
}


  
    
    