<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Header Section-->
<ion-content>
  <section class="content">
    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="../../assets/img/Calculator-01.png" alt="insurance_calculator" />
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign="center center">
        <img src="../../assets/img/insurance_calculator.png" alt="insurance_calculator"  />
    </div> -->
    <div class="wrapper ion-text-center" fxLayout="column" fxLayoutAlign="center center">
      <header>
        <p class="title">{{PAGE_SUBTITLE}}</p>
        <p class="subtitle">{{ PAGE_HEADER }}</p>
      </header>
      <div>
        <p class="plan-content-insur">{{PAGE_SUB_HEADER }}</p>
      </div>

      <!--Progress Bar-->
      <mat-progress-bar mode="determinate" value="20" class="mt-10 mb-20"></mat-progress-bar>
      <!--Question & Answer-->
      <section>
        <div fxLayout="row" fxLayoutGap="20px" *ngFor="let item of INSURANCE_CALCULATOR.QUESTIONS">

          <div class="text">
            <mat-label>{{ item.INPUT_TYPE }}</mat-label>
            <mat-icon class="icon12 mt-20 mb-30">help_outline</mat-icon>
          </div>

          <div>
            <mat-form-field appearance="outline" class="w-50" style="justify-content: end; align-items: flex-end;">
              <span matPrefix *ngIf="item.isAmt">$</span>
              <input type="number" matInput [(ngModel)]="item.VALUE" (blur)="calculateCoverage()" class="ipt">
            </mat-form-field>
          </div>
        </div>
        <p class="txt">{{PAGE_BOTTOM1}}</p>
        <mat-form-field class="w-100" appearance="outline">
          <span matPrefix>$</span>
          <input type="number" matInput value="0" disabled class="ipt" [(ngModel)]="totalCoverage">
        </mat-form-field>
      </section>
      <p></p>
      <p class="plan-content-insur"> {{STEP1_BOTTOM}}</p>
      <div fxLayout="column" fxLayoutAlign=="center center" fxLayoutGap="10px">
      <button mat-stroked-button (click)="back()">{{BTTN.INSURANCE | uppercase}}</button>
      <button mat-flat-button color="primary" (click)="InsuranceBudget()">{{BTTN.INSURANCE | uppercase}}</button>
    </div>
      <a class="link" (click)="createAccount()">{{ BTN.CREATE_ACCOUNT }}</a>
    </div>
  </section>
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>
<!-- Footer -->