
.page-header-insurance{
     padding: 0px 0px;
        h5 {
          font-family: proxima nova;
          font-size: 14px;
          font-weight: bold; 
          color: #000 !important;
        }
}
.txt{
  margin:0px 0px 0px 0px;
  font-family:Playfair Display;
  font-size:24px;
  font-weight: bold;
  color:#000;
}

.plan-content-insur { 
  font-family: Proxima Soft;;
  font-size: 16px;
  font-size: large;
  color: #000 !important;
}
.text{
text-align: left; 
white-space:pre-line;
}
.ipt{
    text-align: end;
}
.icon12{
   display:block;
}

  
    
    