<!-- Header -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" color='dark'>
                <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" color="dark">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title fxLayout="row" fxLayoutAlign="center center">
            <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
        </ion-title>
    </ion-toolbar>
</ion-header>
<!-- End of Header -->

<!-- Personal Information -->
<ion-content>
    
    <section  class="wrapper content">
        <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center">
            <ion-spinner ></ion-spinner>
            <ion-text>FETCHING YOUR DETAILS</ion-text>
        </div>
        <section *ngIf="!isLoading && state == 1" fxLayout="column" fxLayoutAlign="center center">
            <header>
                <h1>TELL US ABOUT YOURSELF. <br /> LETS START WITH THE</h1>
            </header>

            <form [formGroup]="personalInfoForm">
                <mat-label>Name:</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                    <input matInput placeholder="Your name here" formControlName="fname" [errorStateMatcher]="matcher">
                    <mat-error>Invalid name</mat-error>
                </mat-form-field>
                <mat-label>E-mail:</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                    <input type="text" matInput placeholder="Your Email here" formControlName="email">
                    <mat-error>Invalid email</mat-error>
                </mat-form-field>

                <mat-label>Date of Birth:</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                    <input matInput [matDatepicker]="picker" placeholder="_ _ /_ _ /_ _ _ _"
                        formControlName="dob" (dateChange)="getDOB()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-label>Gender</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                    <select matNativeControl formControlName="gender" placeholder="Select gender">
                        <option value="" selected disabled>Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </mat-form-field>
            </form>
        </section>

        <section *ngIf="!isLoading && state == 2" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
            <form [formGroup]="personalQuestForm">
                <div>
                    <label class="que-label">ARE YOU A US CITIZEN OR PERMANENT RESIDENT?</label>
                    <mat-radio-group class="radio-group" formControlName="isUsCitizen">
                        <mat-radio-button color="primary" class="radio-button" value="yes">
                            Yes
                        </mat-radio-button>

                        <mat-radio-button color="primary" class="radio-button" value="no">
                            No
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <label class="que-label">DO YOU HAVE SPOUSE OR SIGNIFICANT OTHER?</label>
                    <mat-radio-group class="radio-group" formControlName="haveSpouse">
                        <mat-radio-button color="primary" class="radio-button" value="yes">
                            Yes
                        </mat-radio-button>

                        <mat-radio-button color="primary" class="radio-button" value="no">
                            No
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

            </form>
            <mat-card class="card-gray" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-card-title>
                    Quick Tip
                </mat-card-title>
                <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <p>You aren’t required to apply with
                        your partner, But if you do, here are some benefits.</p>
                    <p>Save time by scheduling your medical exam
                        at the same time.</p>
                    <p>Don’t forget to see how policies for both of you
                        will fit into your monthly budget</p>
                </mat-card-content>
            </mat-card>

        </section>


        <div *ngIf="!isLoading" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button mat-flat-button class="nav-btn" (click)="goBack(state)">BACK</button>
            <button mat-flat-button class="nav-btn" (click)="goNext(state)"
                [disabled]="(state === 1 && personalInfoForm.invalid) || (state === 2 && personalQuestForm.invalid)">NEXT</button>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
        <ion-text class="align-item-bottom">
            <ion-label class="fl-footer-content">
                77 Water St 8th Floor,<br /> Manhattan, NY 10005
            </ion-label>
        </ion-text>
        <ion-text class="align-item-bottom">
            <ion-label class="fl-footer-content">
                Copyright Life+ © 2020
            </ion-label>
        </ion-text>
    </footer>
    <!-- End of footer -->
</ion-content>
<!-- End of Personal Information -->