mat-card {
    transition: none !important;
    box-shadow: none !important;
}

.sub-header {
    font-family: Proxima Soft;
    font-size: 16px;
    color: #070707;
}

mat-card-title {
    font-family: Proxima Soft;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}
