.header-title {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
  }

  .comp-content{
    font-family: Proxima Soft;
    font-size: 16px;
    color: #070707;
  }
  