

.btn-grey {
    background-color: #646464;
    width:127px;
    height: 50px;
    text-align: center;
    text-decoration-color: white !important;
 } 

.radio-group-lab {
    display: flex;
    flex-direction: column !important;
    margin: 15px 0;
  }
  .width-73{
    width: 70%;
  }
  .addComment-btn{
    align-self: flex-end;
  }
p{
  font-family: 'Lato' !important;
  font-size: 12px;
  font-weight: regular;
  color: #050505;
}
mat-checkbox{
  font-family: 'Arial' !important;
  font-size: 14px;
  font-weight: regular;
  color: #000000;
}

.que-label-lab {
    font-family: 'Lato' !important;
    font-size: 18px;
    font-weight: bold;
    color: #5a5a5a;
}
.w-40 {
    width: 40%;
}



