<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo" (click)="gotoHomePage()">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--qoute page start here  -->
  <section class="wrapper-plan quotesSec" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <h2 class="exp-header">Compare Quotes</h2>
    <header fxLayoutAlign="center center">
      <h2 class="header-title">{{DOM_CONSTANTS.QUOTE_HEADER }}</h2>
    </header>
    <p fxLayoutAlign="center center" class="plan-sub-header">{{DOM_CONSTANTS.QUOTE_SUB_HEADER }}</p>
    <!--Quotes-->
    <ngb-carousel #currSlide (click)="onSlideClicked(currSlide)">
      <ng-template ngbSlide *ngFor="let quo of quotes; let i = index" [id]="quo.productId">
        <mat-card class="plan-card mat-elevation-z0 ">
          <div fxLayout="column" class="quote-img">
            <img [src]="quo.prodImg" alt="dummy-image">
          </div>
          <h2 class="exp-header pad-10">{{quo.quoteHeader }}</h2>
          <h2 class="quo-sub-header">{{quo.quoteDetails}}</h2>
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                <div class="exp-header"> {{DOM_CONSTANTS.CUST_HEADER}}
                </div>
              </ion-col>
              <ion-col size="3">
                <div>
                  <ion-icon class='heart-icon' *ngFor="let r of ' '.repeat(quo.custAvgRatings).split('')" name="heart">
                  </ion-icon>
                  <ion-icon class="heart-grey-icon" *ngFor="let r of ' '.repeat(5-quo.custAvgRatings).split('')" name="heart">
                  </ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <mat-card-content>
            <div [hidden]="collapse[i]">
              <div fxLayout="column" fxLayoutAlign="center start">
                <button mat-flat-button (click)="collapse[i] = !collapse[i];showDetails(quo.productId)" fxFlex="20" class="btn-mat-card">{{BTN.READ_MORE}}</button>
              </div>
              <div class="mt-10" fxLayout="column" fxLayoutAlign="center center">
                <button mat-stroked-button class="quo-btn bg-blk col-wht" (click)="goToNext()">{{BTN.GET_QUOTE}}</button>
              </div>
            </div>
            <div [hidden]="!collapse[i]">
              <ion-grid>
                <ion-row *ngFor="let cus of quo.customerRatings">
                  <ion-col size="9">
                    <ion-row>
                      <div>
                        <span class="label-inline exp-header">{{cus.name}} </span>
                        <span class="label-inline btn-mat-card ml-2"> {{cus.timestamp}}</span>
                      </div>
                      <div class="comment-txt">{{cus.comment}}</div>
                    </ion-row>
                  </ion-col>
                  <ion-col size="3">
                    <div>
                      <ion-icon class='heart-icon' *ngFor="let r of ' '.repeat(cus.ratings).split('')" name="heart">
                      </ion-icon>
                      <ion-icon class="heart-grey-icon" *ngFor="let r of ' '.repeat(5-cus.ratings).split('')" name="heart">
                      </ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div [ngClass]="showDiv === false ? 'no-indicators' : ''">
                <div fxLayout="column" fxLayoutAlign="center center">
                  <button mat-stroked-button class="quo-btn bg-blk col-wht" (click)="goToNext()">{{BTN.GET_QUOTE}}</button>
                  <button mat-flat-button (click)="collapse[i] = !collapse[i]" class="btn-mat-card mt-10">{{BTN.CLOSE}}</button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </ngb-carousel>
  </section>
  <!--Comparision Tool-->
  <!-- chart sections -->

  <section class="ion-text-center">
    <p class="mt-50 header-title">{{DOM_CONSTANTS.QUOTE_COMP}}</p>
    <!-- Monthly bar chart -->
    <section>
      <ion-card>
        <ion-card-header>
          <h2 class="quo-sub-header" style="float:left">Monthly</h2>
        </ion-card-header>
        <ion-card-content>
            <canvas baseChart 
            [datasets]="barChartDataMonthly"
            [labels]="barChartLabelsMonthly"
            [legend]="true"
            chartType="bar"
            [options]="chartOption"
            [colors]="barChartLegendColors"
            ></canvas>
        </ion-card-content>
      </ion-card>
    </section>
    <!-- $Policy bar chart -->
    <section>
      <ion-card >
        <ion-card-header>
          <h2 class="quo-sub-header" style="float:left">Policy</h2>
        </ion-card-header>
        <ion-card-content>
            <canvas baseChart
            [datasets]="barChartDataPolicy"
            [labels]="barChartLabelsPolicy"
            [legend]="true"
            chartType="bar"
            [options]="chartOption"
            [colors]="barChartLegendColors"
            ></canvas>
        </ion-card-content>
      </ion-card>
    </section>
    <!-- Policy bar chart -->
    <section>
      <ion-card class="chart mx-0">
        <ion-card-header>
          <h2 class="quo-sub-header" style="float:left">Policy</h2>
        </ion-card-header>
        <ion-card-content>
            <canvas baseChart 
            [datasets]="barChartDataYears"
            [labels]="barChartLabelsYears"
            [legend]="true"
            chartType="bar"
            [options]="chartOption"
            [colors]="barChartLegendColors"
            ></canvas>
        </ion-card-content>
      </ion-card>
    </section>
    <!-- Pie chart -->
    <section>
      <!-- chart -->
      <ion-card class="chart mx-0">
        <ion-card-header fxLayoutAlign="center center">
          <h2 class="quo-sub-header">Cash value</h2>
        </ion-card-header>
        <ion-card-content>
          <canvas baseChart  [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="donutOptions"
            [colors]="doughnutChartLegendColors"></canvas>
        </ion-card-content>
      </ion-card>
    </section>
    <div class="mb-70 mt-50" fxLayoutGap="10px">
      <button mat-stroked-button class="btn-color" (click)="getPrevious()">{{BTN.BACK}}</button>
      <button mat-flat-button color="primary" (click)="goToNext()">{{BTN.NEXT}}</button>
    </div>
    <a *ngIf="!isUerLoggedIn" class="link" (click)="createAccount()" class="btn-acc">Create account</a>
  </section>


  <!--Quotes Header-->
  <!--Footer-->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>