<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title fxLayout="row" fxLayoutAlign="center center">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Quotes Header-->

  <section class="wrapper-plan" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <header fxLayoutAlign="center center">
      <h2 class="header-title">{{DOM_CONSTANTS.QUOTE_HEADER }}</h2>
    </header>
    <p fxLayoutAlign="center center" class="plan-sub-header">{{DOM_CONSTANTS.QUOTE_SUB_HEADER }}</p>
  </section>

  <!--Quotes-->

  <section class="wrapper-plan " *ngFor="let quo of quotes" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10px">
    <mat-card class="plan-card mat-elevation-z0 ">
      <div fxLayout="column" class="quote-img">
        <img [src]="quo.prodImg" alt="dummy-image">
      </div>
      <header fxLayoutAlign="center start">
        <h2 class="exp-header">{{quo.quoteHeader }}</h2>
      </header>
      <p>{{quo.quoteDetails}}</p>
      <mat-card-content *ngIf="collapsedSec1" class="mat-card-content-width">
        <mat-card-actions fxLayout="column" fxLayoutAlign="center start">
          <button mat-flat-button (click)="collapsedSec1=false" class="btn-mat-card">{{BTN.READ_MORE}}</button>
        </mat-card-actions>
      </mat-card-content>
      <mat-card-content *ngIf="!collapsedSec1" class="mat-card-content-width">
          <ion-item-group>
            <ion-label class="exp-header"> {{DOM_CONSTANTS.CUST_HEADER}}</ion-label>
            <ion-icon [style.color]="'#EF3B51'"
              *ngFor="let dummy of ' '.repeat(quo.custAvgRatings).split(''), let x = index" name="heart">
            </ion-icon>
            <ion-icon *ngFor="let dummy of ' '.repeat(5-quo.custAvgRatings).split(''), let x = index"
              name="heart-outline">
            </ion-icon>
          </ion-item-group>
        <div *ngFor="let cus of quo.customerRatings">
          <h2 class="exp-header">{{cus.name}} {{cus.timestamp}}</h2>
          <div>
            {{cus.comment}}
            <ion-icon [style.color]="'#EF3B51'" *ngFor="let dummy of ' '.repeat(cus.ratings).split(''), let x = index"
              name="heart"></ion-icon>
            <ion-icon *ngFor="let dummy of ' '.repeat(5-cus.ratings).split(''), let x = index" name="heart-outline">
            </ion-icon>
          </div>
        </div>
        <button mat-flat-button class="quo-btn" color="primary" (click)="x()" fxLayoutAlign="center center"
          fxLayoutGap="40px">
          {{ BTN.GET_QUOTE | uppercase }}
        </button>
        <mat-card-actions fxLayout="column" fxLayoutAlign="center end">
          <button mat-flat-button (click)="collapsedSec1=true" class="btn-mat-card">{{BTN.CLOSE}}</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </section>

  <!--Footer-->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>