<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo" (click)="gotoHomePage()">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Quotes Header-->
  <section class="wrapper-plan" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <h2 class="exp-header">Compare Quotes</h2>
    <header fxLayoutAlign="center center">
      <h2 class="header-title">{{DOM_CONSTANTS.QUOTE_HEADER }}</h2>
    </header>
    <p fxLayoutAlign="center center" class="plan-sub-header">{{DOM_CONSTANTS.QUOTE_SUB_HEADER }}</p>

    <!--Quotes-->
    <mat-card class="plan-card mat-elevation-z0 " *ngFor="let quo of quotes; let i = index">
      <div fxLayout="column" class="quote-img">
        <img [src]="quo.prodImg" alt="dummy-image">
      </div>
      <h2 class="exp-header pad-10">{{quo.quoteHeader }}</h2>
      <h2 class="quo-sub-header">{{quo.quoteDetails}}</h2>
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <div class="exp-header"> {{DOM_CONSTANTS.CUST_HEADER}}
            </div>
          </ion-col>
          <ion-col size="3">
            <div>
              <ion-icon class='heart-icon' *ngFor="let r of ' '.repeat(quo.custAvgRatings).split('')" name="heart">
              </ion-icon>
              <ion-icon class="heart-grey-icon" *ngFor="let r of ' '.repeat(5-quo.custAvgRatings).split('')"
                name="heart">
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <mat-card-content [hidden]="collapse[i]">
        <div fxLayout="column" fxLayoutAlign="center start">
          <button mat-flat-button (click)="collapse[i] = !collapse[i]" fxFlex="20"
            class="btn-mat-card">{{BTN.READ_MORE}}</button>
        </div>
        <div class="mt-10" fxLayout="column" fxLayoutAlign="center center">
          <button mat-stroked-button class="quo-btn bg-blk col-wht" (click)="goToNext()">{{BTN.GET_QUOTE}}</button>
        </div>
      </mat-card-content>
      <mat-card-content [hidden]="!collapse[i]">
        <ion-grid>
          <ion-row *ngFor="let cus of quo.customerRatings">
            <ion-col size="9">
              <ion-row>
                <div>
                  <span class="label-inline exp-header">{{cus.name}} </span>
                  <span class="label-inline btn-mat-card ml-5"> {{cus.timestamp}}</span>
                </div>
                <div class="comment-txt">{{cus.comment}}</div>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <div>
                <ion-icon class='heart-icon' *ngFor="let r of ' '.repeat(cus.ratings).split('')" name="heart">
                </ion-icon>
                <ion-icon class="heart-grey-icon" *ngFor="let r of ' '.repeat(5-cus.ratings).split('')" name="heart">
                </ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div fxLayout="column" fxLayoutAlign="center center">
          <button mat-stroked-button class="quo-btn bg-blk col-wht" (click)="goToNext()">{{BTN.GET_QUOTE}}</button>
          <button mat-flat-button (click)="collapse[i] = !collapse[i]" class="btn-mat-card mt-10">{{BTN.CLOSE}}</button>
        </div>
      </mat-card-content>
    </mat-card>

    <!--Comparision Tool-->
    <div class="mt-50 exp-header">{{DOM_CONSTANTS.QUOTE_COMP}}</div>

    <mat-table [dataSource]="dataSource" *ngIf="dataSource.length > 0" class="mat-elevation-z0 mt-30 quo-tbl">
      <ng-container matColumnDef="comparison">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mat-cell-content"> {{element.comparison}} </mat-cell>
      </ng-container>

      <!-- Prudential Column -->
      <ng-container matColumnDef="prudential">
        <mat-header-cell *matHeaderCellDef> Prudential </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.prudential}}
        </mat-cell>
      </ng-container>

      <!-- New York Life Column -->
      <ng-container matColumnDef="nyLife">
        <mat-header-cell *matHeaderCellDef> New York Life </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.nyLife}}
        </mat-cell>
      </ng-container>

      <!-- Mass Mutual Column -->
      <ng-container matColumnDef="massMutual">
        <mat-header-cell *matHeaderCellDef> Mass Mutual </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.massMutual}}
        </mat-cell>
      </ng-container>

      <!--  Liberty Mutual Column -->
      <ng-container matColumnDef="libertyMutual">
        <mat-header-cell *matHeaderCellDef> Liberty Mutual </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.libertyMutual}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-cell-content"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="mb-70 mt-50">
      <button mat-stroked-button class="btn btn-border" (click)="getPrevious()">{{BTN.BACK}}</button>
      <button class="btn bg-blk col-wht" mat-stroked-button (click)="goToNext()">
        {{BTN.NEXT}}</button>
    </div>
    <a *ngIf="!isUerLoggedIn" [routerLink]="['./']" (click)="createAccount()" class="btn-acc" mat-menu-item>Create
      account</a>
  </section>
  <!--Footer-->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>