.choose-plan-img {
  width: 302px;
  height: 240px;
}
.plan-card {
  max-width: 400px;
  background-color: #f8f8f8;
}
.plan-sub-header {
  font-family: Proxima Soft;
  font-size: 16px;
  color: #070707;
  text-align: center;
}

.mat-card {
  margin-top: 10px;
  padding: 0px !important;
}

.wrapper-plan {
  padding: 10px 20px;
}

.btn-mat-card {
  font-family: Proxima Soft;
  font-size: 16px;
  background-color: #f8f8f8;
  color: #cccccc;
}

.header-title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin-top: 10px;
}

.exp-header {
  font-family: Proxima Soft;
  font-size: 14px;
  font-weight: bold;
  color: #070707;
  text-align: left;
}
.comp-header-title {
  padding-top: 10px;
  width: 302px;
}
p {
  font-family: Lato;
}

.heart-icon {
  color: #FAEF54;
  border: thin;
  border-color: #E5DA3F;
}
.heart-grey-icon {
  color: #D9D9D9;
}
ion-icon {
  font-size: 14px;
}
.quo-btn {
  margin-top: 30px !important;
  margin-bottom: 20px;
}
.quo-sub-header {
  font-family: Proxima Soft;
  font-size: 16px;
  color: #070707;
  text-align: left;
  padding-left: 10px;
}
.comment-txt {
  font-family: Proxima Soft;
  font-size: 16px;
  color: #070707;
  text-align: left;
}
ion-grid {
  ion-card {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
    margin-top: 0px !important;
  }
}
.pad-10 {
  padding-left: 10px;
}
.marg-10px {
  margin-left: 10px;
}
.label-inline {
  display: inline-block;
}
.ml-5{
  margin-left: 5px; 
}
.btn-acc{
  font-family: Proxima Soft;
  font-size: 16px;
  color: #CCCCCC;
  margin-bottom: 20px;
}
.btn-border{
  border-radius: 2px;
  border-color: #00B5AD;
  margin-right: 10px;
}

.quo-tbl {
  height: 253px;
  min-width: 340px;
  border-top: 1px solid #e2e2e3 !important;
  border-right: 1px solid #e2e2e3 !important;
  margin-left: 15px;
  margin-right: 15px;;
}

mat-header-cell {
  background: #fafafb;
}
.mat-row:nth-child(odd) {
  background-color: #fafafb;
}
mat-header-cell {
  padding: 2px !important;
  border-left: 1px solid #e2e2e3;
  font-family: Lato;
  font-size: 12px;
  color:#000000 ;
  font-weight: bold;
}
mat-cell {
  font-family: Proxima Soft;
  font-size: 12px;
  color: #000;
  padding: 2px !important;
  border-left: 1px solid #e2e2e3;
}
.mat-cell-content {
  font-family: Proxima Soft;
  font-size: 12px;
  color: #000000;
  text-align: left;
}
.btn-color{
  border:1px solid #00B5AD;
  color:black;
}
.ml-2{
  margin-left: 2px;
}