<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title fxLayout="row" fxLayoutAlign="center center">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- End of Header -->
<ion-content>
  <section class="content quote-sec-p-16">
    <section class="wrapper" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px">
      <label class="que-label ff ff-quote">HERE ARE SOME SAMPLE QUOTES<br/> FROM LIFE INSURANCE BASED ON<br/>YOUR AGE, GENDER, AND LOCATION. 
      </label>
      <mat-label class="fs-12 ff-quote">The actual cost for you may be different after your <br/>application is processed.
      </mat-label>
      <!-- Sample Quotation1 -->

      <div fxLayout="row" fxLayoutAlign="flex-start" class="p-10 quot-info">
        <div fxLayout="column" class="quote-img">
          <img src="./../../../assets/img/black-mountain-icon.jpg" alt="balck-mountain-image">
        </div>
        <div class="quote-details" fxLayout="column" fxLayoutAlign="space-around">
          <div class="p-8 ff fs-15 ">
            <ion-label>
              QUOTE NAME
            </ion-label>
          </div>
          <div class=" p-8 ff fs-12 quote-lable2">
            <ion-label>Excepteur sint occaecat<br/> cupidatat non proident,<br/>
            </ion-label>
            <div class="pt-13 mt-10">
              <ion-label>
                <ion-icon class="mr-5 quote-icon" name="globe-outline"></ion-icon>www.quote.com
              </ion-label>
            </div>
          </div>
        </div>
      </div>

      <!-- Sample Quotation2 -->
      <div fxLayout="row" fxLayoutAlign="flex-start" class="p-10 quot-info">
        <div fxLayout="column" class="quote-img">
          <img src="./../../../assets/img/black-mountain-icon.jpg" alt="balck-mountain-image">
        </div>
        <div class="quote-details" fxLayout="column" fxLayoutAlign="space-around">
          <div class="p-8 ff fs-15 ">
            <ion-label>
              QUOTE NAME
            </ion-label>
          </div>
          <div class=" p-8 ff fs-12 quote-lable2">
            <ion-label>Excepteur sint occaecat<br/> cupidatat non proident,<br/>
            </ion-label>
            <div class="pt-13 mt-10">
              <ion-label>
                <ion-icon class="mr-5 quote-icon" name="globe-outline"></ion-icon>www.quote.com
              </ion-label>
            </div>
          </div>
        </div>
      </div>

      <!-- Sample Quotation3 -->
      <div fxLayout="row" fxLayoutAlign="flex-start" class="p-10 quot-info">
        <div fxLayout="column" class="quote-img">
          <img src="./../../../assets/img/black-mountain-icon.jpg" alt="balck-mountain-image">
        </div>
        <div class="quote-details" fxLayout="column" fxLayoutAlign="space-around">
          <div class="p-8 ff fs-15 ">
            <ion-label>
              QUOTE NAME
            </ion-label>
          </div>
          <div class=" p-8 ff fs-12 quote-lable2">
            <ion-label>Excepteur sint occaecat<br/> cupidatat non proident,<br/>
            </ion-label>
            <div class="pt-13 mt-10">
              <ion-label>
                <ion-icon class="mr-5 quote-icon" name="globe-outline"></ion-icon>www.quote.com
              </ion-label>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>


  <!-- Footer -->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br/> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
  <!-- End of footer -->
</ion-content>