<!-- Header -->
<ion-header>  
  <ion-toolbar>  
    <ion-buttons slot="start" >
      <ion-back-button text="" color='dark'><ion-icon name="arrow-back"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" color="dark">  
      <ion-menu-button color="dark"></ion-menu-button>  
    </ion-buttons>  
    <ion-title fxLayout="row" fxLayoutAlign="center center">  
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-title>  
  </ion-toolbar>  
</ion-header> 
<!-- End of Header -->
<ion-content>
  

  <section class="wrapper"  fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px">
    <label class="que-label">Here are some sample quotes <br/> from life insurance based on <br/> your age, gender, and location. <br/> 
      to be covered?
    </label>
      <mat-label class="fs-12">Most financial planners suggest <br/>
        10x-15x of your income.
      </mat-label>

     

  </section>
</ion-content>
