<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="dark">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- End of header -->
<!-- Main Section -->
<ion-content>
  <section class="content">
    <header class="page-header" fxLayout="column" fxLayoutAlign="center center">
      <h1>{{ PAGE_HEADER }}</h1>
      <div class="progress-indicator">
        <mat-label>{{ progress }}%</mat-label>
      </div>

      <mat-progress-bar mode="determinate" color="secondary" [value]="progress"></mat-progress-bar>
    </header>
    <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <header fxLayoutAlign="center center">
        <h2>{{ PAGE_SUBHEADER }}</h2>
      </header>
      <form #f="ngForm" name="form">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let item of DOM_CONSTANTS">
            <mat-expansion-panel-header (click)="incrementProgress(item.PROGRESS)">
              <mat-panel-title>
                {{ item.TITLE }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let que of item.QUESTIONS">
              <!-- <mat-label class="que-header">{{ que.QUESTIONTEXT }}</mat-label> -->
              <mat-label class="que-subheader" [ngClass]="{'txt-black': que.isVisited}">{{ que.QUESTIONTEXT }}
              </mat-label>
              <!-- <mat-slider
              [max]="que.MAX"
              [min]="que.MIN"
              [step]="que.STEP"
              [(ngModel)]="que.VALUE"
            >
            </mat-slider> -->
              <mat-form-field appearance="outline" class="w-50">
                <span matPrefix>$</span>
                <input type="number" matInput class="align-end" [name]="que.NAME" [(ngModel)]="que.VALUE"
                  (click)="que.isVisited = true" required>
              </mat-form-field>

              <mat-icon class="pos-rel t-l-7">help_outline</mat-icon>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
      <button mat-flat-button color="primary" [disabled]="f.invalid" (click)="calculateBudget(f)">
        {{ BTN.CALCULATE | uppercase }}
      </button>
      <a class="link" (click)="createAccount()">{{ BTN.CREATE_ACCOUNT }}</a>
    </section>
    <!-- End of main section -->
  </section>
  <!-- Footer -->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br />
        Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
  <!-- End of footer -->
</ion-content>