<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title fxLayout="row" fxLayoutAlign="center center">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="header">Profile</p>
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
         77 Water St 8th Floor,<br/> Manhattan, NY 10005
     </ion-label>
   </ion-text>
   <ion-text class="align-item-bottom">
     <ion-label class="fl-footer-content">
      Copyright Life+ © 2020
     </ion-label>
   </ion-text>
  </footer> 
</ion-content>