<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo" (click)="gotoHomePage()">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

    <section class='user-info'>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start" class="profile-pic">
            <img src="../../../../assets/img/auth_Profile_Img/profile-icon.svg" alt="profil-pic">
          </ion-thumbnail>
          <ion-label class="user-info" class="profile-desc">
            <p class="uname cap-first-letter">
              <strong>{{userName}}</strong>
              <ion-icon name="create-outline"></ion-icon>
            </p>
            <p class="label">Birthday</p>
            <p class="bdate">{{ birthDate | date: 'dd/MM/yyyy' }}</p>
            <p class="label policy">Policy Status</p>
            <p class="policy-status">We’re looking to make sure</p>
            <p class="policy-status">we’re getting the best</p>
            <p class="policy-status">policy for you.</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <div class="progress-indicator">
        <mat-label>{{ progress + '%' }}</mat-label> 
      </div>
      <mat-progress-bar mode="determinate" color="secondary" [value]="progress"></mat-progress-bar>
    </section>

    <!-- Chart section -->
    <ion-card class="chart">
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
        <!-- <canvas #userFinancialAssets></canvas> -->
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
          [options]="donutOptions" [colors]="doughnutChartLegendColors"></canvas>
      </ion-card-content>
    </ion-card>

    <!-- financial details  -->
    <header>
      <h2 class="cap-first-letter">{{userName +"'s "+ htmltext.profile_header }}</h2>
    </header>

    <mat-accordion class="user-financial-info">
      <ng-container *ngFor="let financeDetails of userFinancialInfo; let itemIndex = index; trackBy: trackByIndex">
        <mat-expansion-panel
          [ngStyle]="{'background':financeDetails.isAllQuestionsAnswered === true ? '#FFFFFF' : '#F4F4F4'}">
          <mat-expansion-panel-header class="mat-accordian-header">
            <mat-panel-title>
              {{ financeDetails.title }}
            </mat-panel-title>
            <ion-icon name="person" class="user-icon"
              [ngStyle]="{'color':financeDetails.isAllQuestionsAnswered === true ?'#21BA45' : '#767676'}"></ion-icon>
            <ion-icon name="checkmark" class="tick-icon"
              [ngStyle]="{'color':financeDetails.isAllQuestionsAnswered === true ?'#21BA45' : '#767676'}"></ion-icon>
          </mat-expansion-panel-header>
          <p class="header-txt" *ngIf="financeDetails.quesHeader">{{financeDetails.quesHeader}}</p>
          <ng-container
            *ngFor="let quesDetails of financeDetails.questions; let quesIndex = index; trackBy: trackByIndex">
            <div [ngSwitch]="quesDetails.element">
              <div class="ques-details my-15" *ngSwitchCase="'toggleButton'">
                <mat-label class="que-header">{{ quesDetails.name }}</mat-label>
                <mat-button-toggle-group name="{{'question' + quesIndex}}" ngDefaultControl aria-label="Font Style"
                  class="custom-mat-btn-toggle-group" [(ngModel)]="quesDetails.value"
                  (ngModelChange)="trackQuesProgress($event, financeDetails.id)">
                  <mat-button-toggle value="yes" class="yes-btn">Yes</mat-button-toggle>
                  <span class="circle">or</span>
                  <mat-button-toggle value="no" class="no-btn">No</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="ques-details input-box" *ngSwitchCase="'inputNumber'">
                <mat-label class="que-header">{{ quesDetails.name }}</mat-label>
                <mat-form-field appearance="outline" class="form-input-control text-right">
                  <span matPrefix class="col-dull-grey">$ &nbsp;</span>
                  <input matInput type="number" name="{{'question' + quesIndex}}" ngDefaultControl
                    [placeholder]="quesDetails.placeholder" value="" [(ngModel)]="quesDetails.value"
                    (ngModelChange)="trackQuesProgress($event, financeDetails.id)">
                </mat-form-field>
                <mat-icon matTooltip={{quesDetails.name}} class="tooltip">help_outline</mat-icon>
              </div>
            </div>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
    <h2>Recommendation</h2>
    <p class="recommend-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyundefined</p>
  </section>
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>