.header-title{
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}
.card {
    padding: 0 !important;
}

.mat-card-image{
    margin: 0 !important;
}
.mat-card-content{
    padding: 10px;
    p{
        text-align: center;
    }
}
.mat-card-actions{
    padding: 10px !important;
}
.mat-card>.mat-card-actions:last-child {
    margin-bottom: 0px !important;
}
.mat-card {
    transition: none !important;
    box-shadow: none !important;
   }