.header-title{
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}
.card {
    padding: 0 !important;
}

.mat-card-image{
    margin: 0 !important;
}
.mat-card-content{
    padding: 10px;
    p{
        text-align: center;
    }
}
.mat-card-actions{
    padding: 10px !important;
}
.mat-card>.mat-card-actions:last-child {
    margin-bottom: 0px !important;
}
.mat-card {
    border: 0px !important;
    transition: none !important;
    box-shadow: none !important;
    margin-left: 15px;
    margin-right: 15px;
}
.btn-color{
    border:1px solid #00B5AD;
    color:black;
  }
  .ff {
    font-family: Proxima Soft;
    color: #070707;
  }
  .ft-wt{
      font-weight: bold;
  }