<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo" (click)="gotoHomePage()">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Quotes Header-->
  <section class="wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <header class="page-header" fxLayout="column" fxLayoutAlign="center center">
      <h5 class="ff fs-14 ft-wt ">{{ DOM_CONSTATNTS.HEADER }}</h5>
      <h2 class="header-title">{{ DOM_CONSTATNTS.SUBHEADER }}</h2>
    </header>
    <mat-card class="card mat-card">
      <img mat-card-image src="assets/img/medical-exam.svg" alt="Medical Test">
      <mat-card-content fxLayout="column" fxLayoutAlign="center center" class="mt-10">
        <h5 class="ff fs-15 ft-wt">{{ DOM_CONSTATNTS.IN_PERSON }}</h5>
        <p class="ff fs-16">
          {{ DOM_CONSTATNTS.IN_PERSON_TEXT }}
        </p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-stroked-button  class="btn-color" routerLink="/home/quote" color="primary">BACK</button>
        <button mat-flat-button routerLink="/medical-test/locate-lab" class="black_color">SCHEDULE</button>
      </mat-card-actions>
    </mat-card>

  </section>
  <!--Footer-->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br /> Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
</ion-content>