<ion-header>  
  <ion-toolbar>  
    <ion-buttons slot="start" >
      <ion-back-button text="" color='dark'><ion-icon name="arrow-back"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">  
      <ion-menu-button color="dark"></ion-menu-button>  
    </ion-buttons>  
    <ion-title fxLayout="row" fxLayoutAlign="center center">  
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo" >
    </ion-title>  
  </ion-toolbar>
</ion-header> 
<ion-content class="text-center">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="cutsom-mat-btn-toggle-group mt-30">
    <mat-button-toggle value="bold" class="yes-btn">Yes</mat-button-toggle>
    <span class="circle">or</span>
    <mat-button-toggle value="italic" class="no-btn">No</mat-button-toggle>
  </mat-button-toggle-group>
  <hr>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="cutsom-mat-btn-toggle-group mt-30">
    <mat-button-toggle value="bold" class="yes-btn">Yes</mat-button-toggle>
    <span class="circle">or</span>
    <mat-button-toggle value="italic" class="no-btn">No</mat-button-toggle>
  </mat-button-toggle-group>
  <hr>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="cutsom-mat-btn-toggle-group mt-30">
    <mat-button-toggle value="bold" class="yes-btn">Yes</mat-button-toggle>
    <span class="circle">or</span>
    <mat-button-toggle value="italic" class="no-btn">No</mat-button-toggle>
  </mat-button-toggle-group>
</ion-content>
<footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
  <ion-text class="align-item-bottom">
    <ion-label class="fl-footer-content">
       77 Water St 8th Floor,<br/> Manhattan, NY 10005
   </ion-label>
 </ion-text>
 <ion-text class="align-item-bottom">
   <ion-label class="fl-footer-content">
    Copyright Life+ © 2020
   </ion-label>
 </ion-text>
</footer> 