.esign-text {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
    border: 1px solid #DFDFE0;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
}
.form-label {
    padding: 0 25px;
    margin-bottom: 0;
    margin-top: 40px;
}
.form-input-control {
    padding: 0 25px;
    width: 100%;
}