<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title fxLayout="row" fxLayoutAlign="center center">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- end of header -->

<!-- Section 1  -->
<ion-content>
  <header class="page-header" fxLayout="column" fxLayoutAlign="center center">
    <h1>{{ PAGE_HEADER }}</h1>
    <h2>{{ PAGE_SUBHEADER }}</h2>
    <p>{{PAGE_LINE}}</p>
  </header>
  <section class="wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of DOM_CONSTANTS">
        <mat-expansion-panel-header (click)="incrementProgress(item.PROGRESS)">
          <mat-panel-title>
            {{ item.TITLE }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let que of item.QUESTIONS">
          <mat-label class="que-header">{{ que.QUESTIONTEXT }}</mat-label>
          <mat-icon matTooltip="Info about the action">help_outline</mat-icon>
          <mat-button-toggle-group *ngIf="que.INPUT_TYPE==='Button'" name="fontStyle" aria-label="Font Style" class="custom-mat-btn-toggle-group mt-30">
            <mat-button-toggle value="bold" class="yes-btn">Yes</mat-button-toggle>
           <span class="circle">or</span>
           <mat-button-toggle value="italic" class="no-btn">No</mat-button-toggle>
          </mat-button-toggle-group>
          <form>
            <mat-form-field *ngIf="que.INPUT_TYPE==='Textarea'">
              <textarea matInput placeholder="Write a response"></textarea>
            </mat-form-field>
          </form>
          <mat-slider *ngIf="que.INPUT_TYPE==='Slider'"
                [max]="que.MAX"
                [min]="que.MIN"
                [step]="que.STEP"
                [(ngModel)]="que.VALUE">
        </mat-slider> 
        {{ que.VALUE}}
        </div>
        
        
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-flat-button color="primary" (click)="submit()">{{BTN.SUBMIT | uppercase}}</button>
  </section>
</ion-content>
<!-- end of section 1 -->

<!-- Footer -->
<footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
  <ion-text class="align-item-bottom">
    <ion-label class="fl-footer-content">
      77 Water St 8th Floor,<br /> Manhattan, NY 10005
    </ion-label>
  </ion-text>
  <ion-text class="align-item-bottom">
    <ion-label class="fl-footer-content">
      Copyright Life+ © 2020
    </ion-label>
  </ion-text>
</footer>
<!-- End of footer -->