<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="dark">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="./../../../assets/img/lifePlusLogo.png" alt="Life+ Logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- end of header -->

<!-- Section 1  -->
<ion-content class="content">
  <section class="page-header" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0">
    <header>
      <h1>{{ PAGE_HEADER }}</h1> 
    </header>
    <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
<header class="page-header">
  <h2>{{ PAGE_SUBHEADER }}</h2>
  <p>{{ PAGE_LINE }}</p>
</header>
<form #f="ngForm" name="form">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of DOM_CONSTANTS">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.TITLE }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let que of item.QUESTIONS">
          <mat-label class="que-header2">{{ que.QUESTIONTEXT }}</mat-label>
          <mat-icon *ngIf="que.ICON">help_outline</mat-icon>
          <!--DOB-->

            <mat-form-field class="w-50" *ngIf="que.INPUT_TEXT1 === 'Textbox'" appearance="outline">
             <input type="text" placeholder="mm/dd/yyyy" matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon></mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          
          <!--Sex tab-->
          <section>
            <mat-button-toggle-group *ngIf="que.INPUT_TEXT === 'Button'" name="fontStyle" aria-label="Font Style"
              class="custom-mat-btn-toggle-group">
              <mat-button-toggle value="bold" class="yes-btn">Male</mat-button-toggle>
              <span class="circle">or</span>
              <mat-button-toggle value="italic" class="no-btn">Female</mat-button-toggle>
            </mat-button-toggle-group>
          </section>
          <!--Height & Weight -->
          
             <div class="example-form">
            <mat-form-field class="example-full-width" *ngIf="que.INPUT_TEXT=== 'Textbox'" appearance="outline">
              <input type="text" matInput placeholder="0.00">

            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="que.INPUT_TEXT=== 'Textbox'" appearance="outline">
              <input type="text" matInput placeholder="0.00">
            </mat-form-field>
            
          


          <mat-button-toggle-group *ngIf="que.INPUT_TYPE === 'Button'" name="fontStyle" aria-label="Font Style"
            class="custom-mat-btn-toggle-group">
            <mat-button-toggle value="bold" class="yes-btn">Yes</mat-button-toggle>
            <span class="circle">or</span>
            <mat-button-toggle value="italic" class="no-btn">No</mat-button-toggle>
          </mat-button-toggle-group>
          <form>
            <mat-form-field class="full-width" *ngIf="que.INPUT_TYPE === 'Textarea'" appearance="outline">
              <textarea matInput placeholder="Write a response"></textarea>
            </mat-form-field>
          </form>
</div>

        </div> 
      </mat-expansion-panel>
    </mat-accordion>
</form>
    <button   style="top:40px"mat-flat-button color="primary" (click)="submit()">
      {{ BTN.SUBMIT | uppercase }}
    </button>
  <div>
    <a class="link" (click)="createAccount()">{{ BTN.CREATE_ACCOUNT }}</a>
    </div>
  </section>
  
</section>
  <!-- Footer -->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        77 Water St 8th Floor,<br />
        Manhattan, NY 10005
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Life+ © 2020
      </ion-label>
    </ion-text>
  </footer>
  <!-- End of footer -->
</ion-content>
<!-- end of section 1 -->