/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";

@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

.wrapper {
    padding: 40px 20px;
}
header {
    text-align: center;
    h1{
        font-family: 'Lato' !important;
        font-size:  16px !important;
        font-weight: bold !important;
    }
}

p, h1 ,h2 ,h3 ,h4, h5, h6 {
    color: #5a5a5a;
} 

.radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
  }
  
.radio-button {
    margin: 5px;
}
.full-width {
    width: 100%;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 0.5em !important;
}

.que-label {
      font-size: 18px;
      font-weight: bold;
      color: #5a5a5a;
  }
  
  .card-gray {
    background-color: #585858;
    border-radius: 10px;
    box-shadow: none;
    width: 100%;
    font-family: "Lato";
    margin-bottom: 10px;

      .mat-card-title, .mat-card-content{
          color: #fff;
      }
      .mat-card-title {
          font-size: 18px;
          font-weight: bold;
      }
      .mat-card-content {
          font-size: 12px;
          color: #fff !important;

          p{
            color: #fff !important;
            text-align: center;
          }
      }
  }

  .map-card {
      height: 184px;
      width: 340px;
  }
  .mat-checkbox-layout {
    .mat-checkbox-label{
      font-size: 14px;
    }
  } 
  .lightgray-card{
    background-color:  #f4f4f4;
    padding: 40px 0;
    width: 100%;
  }
  
  .signin-btn, .scan-btn, .nav-btn {
    height: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 1 !important;
    width: 45%;
    background-color:#C1C1C1;
    color: #fff;
    border: none !important;
    &.mat-stroked-button:disabled{
        color: #fff !important;
        opacity: 0.5;
        cursor: not-allowed;
    }
  }

  .col-blk{
      color: #000000;
  }
  .col-darkgrey{
      color:#5A5A5A;
  }
  
  .fs-12{
    font-size: 12px;
  }
  .fs-14{
      font-size: 14px;
  }
  .fs-15{
    font-size:15px;
  }
  .fs-16{
    font-size: 16px;
  }
  .fs-18{
    font-size: 18px;
  }
  .lh-05{
    line-height: 0.5;
  }
  .font-bold{
  font-weight: 500;
  }
  .mr-5{
    margin-right:5px;
  }
  .mt-20{
      margin-top: 20px;
  }
  .mt-10{
      margin-top:10px;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .mb-20{
      margin-bottom: 20px;
  }
  .mb-30{
    margin-bottom: 30px;
}
.mb-70{
    margin-bottom: 70px;
}
  .align-item-bottom {
    align-self: flex-end;
    margin-top: auto;
  }
 
  .p-8{
    padding: 8px;
  }
  .p-10{
    padding: 10px;
  }
  pt-13{
    padding-top:13px; 
  }
  

  // footer 

  .footer-p-40{
    padding: 40px;
}
  .fl-footer-content{
    font-family:Proxima Soft;
    font-size:12px;
    width:118px;
     height:32px;
     margin-bottom: 30px;
    
  }
  .fr-footer-content{
    float:right;
    font-family:Proxima Soft;
    font-size:12px;
    width:126;
    height:16px;
    margin-bottom: 30px;
  }


  .mat-form-field-appearance-legacy,.mat-form-field-appearance-outline{
    .mat-form-field-infix {
      margin-left: 5px;
    }
  } 
  
//content
.content {
  min-height: calc(100vh - 197px);
  //padding: 40px 40px 0 40px;
}
.err-msg {
  font-size: 12px;
  text-align: left;
}
//footer
.footer {
  height: 141px;
  background-color: #272727;
  color: white;
  padding: 30px;

  .lp-f-txt {
      font-size: 9px;
  }
}