/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";

@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");

.wrapper {
  padding: 40px 20px;
}
header {
  text-align: center;
  h1 {
    font-family: "Lato" !important;
    font-size: 16px !important;
    font-weight: bold !important;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5a5a5a;
}
.black_color{
  background-color: black;
  color:white
}
.app-name{
  padding-left: 0;
  padding-top: 10px;
}
.radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}
.full-width {
  width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding-top: 0.5em !important;
  
}

.que-label {
  font-size: 18px;
  font-weight: bold;
  color: #5a5a5a;
}

.card-gray {
  background-color: #585858;
  border-radius: 10px;
  box-shadow: none;
  width: 100%;
  font-family: "Lato";
  margin-bottom: 10px;

  .mat-card-title,
  .mat-card-content {
    color: #fff;
  }
  .mat-card-title {
    font-size: 18px;
    font-weight: bold;
  }
  .mat-card-content {
    font-size: 12px;
    color: #fff !important;

    p {
      color: #fff !important;
      text-align: center;
    }
  }
}

.map-card {
  height: 184px;
  width: 340px;
}
.mat-checkbox-layout {
  .mat-checkbox-label {
    font-size: 14px;
  }
}
.lightgray-card {
  background-color: #f4f4f4;
  padding: 40px 0;
  width: 100%;
}

.signin-btn,
.scan-btn,
.nav-btn {
  height: 32px;
  text-align: center;
  vertical-align: middle;
  line-height: 1 !important;
  width: 45%;
  background-color: #c1c1c1;
  color: #fff;
  border: none !important;
  &.mat-stroked-button:disabled {
    color: #fff !important;
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.f-weight-n {
  font-weight: 200;
}
.bg-gray {
  background-color: #6e6e6e;
}
.bg-white {
  background-color: #ffffff;
}
.col-blk {
  color: #000000;
}
.col-wht {
  color: #ffffff;
}
.col-dull-grey {
  color: #cccccc;
}
.col-darkgrey {
  color: #5a5a5a;
}
.pl-35{
  padding-left: 35px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.lh-05 {
  line-height: 0.5;
}
.font-bold {
  font-weight: 500;
}
.m-15{
  margin:15px
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mt-0 {
  margin-top: 0;
}
.mb-0{
  margin-bottom: 0;
}
.align-item-bottom {
  align-self: flex-end;
  margin-top: auto;
}

.p-8 {
  padding: 8px;
}
.p-10 {
  padding: 10px;
}
.pt-13 {
  padding-top: 13px;
}
.text-right{
  text-align: right;
}

// footer

.footer-p-40 {
  padding: 40px;
}
.fl-footer-content {
  font-family: Proxima Soft;
  font-size: 12px;
  width: 118px;
  height: 32px;
  margin-bottom: 30px;
}
.fr-footer-content {
  float: right;
  font-family: Proxima Soft;
  font-size: 12px;
  width: 126;
  height: 16px;
  margin-bottom: 30px;
}

.mat-form-field-appearance-legacy,
.mat-form-field-appearance-outline {
  .mat-form-field-infix {
    margin-left: 5px;
  }
}

//content
.content {
  min-height: calc(100vh - 197px);
  //padding: 40px 40px 0 40px;
}
.err-msg {
  font-size: 12px;
  text-align: left;
}
//footer
.footer {
  margin-top: 50px;
  height: 141px;
  background-color: #272727;
  color: white;
  padding: 30px;

  .lp-f-txt {
    font-size: 9px;
  }
}

.signin-section,
.signup-section {
  .header {
    font-weight: bold;
    color: #000000;
    font-size: 24px;
  }
  .sub-header {
    color: #cccccc;
    font-size: 16px;
  }
  .form-label {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
  }
  .form-input-control {
    width: 276px;
    height: 35px;
    .mat-form-field-flex {
      max-height: 50px;
    }
  }
  .btn {
    width: 97px;
    height: 36px;
    margin: 0 5px;
    border: 1px solid #7e7e7e;
    &:disabled {
      color: #ffffff;
      opacity: 0.5;
    }
  }
  #btn-steps-wth{
    width:94%;
  }
  #btn-start-wth{
    width:50%;
  }
  ion-icon {
    width: 2em;
    height: 2em;
    padding: 0 2px;
    margin-top: 20px;
  }
  .text-underline {
    text-decoration: underline;
  }
  .text-left {
    text-align: left;
  }
}
.mat-accordion {
  .mat-expansion-panel {
    border: 1px solid #dfdfe0;
    border-radius: 4px !important;
  }
  .mat-expansion-panel {
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.mat-slider {
  width: 60%;
  .mat-slider-thumb {
    background-color: #fff;
    border-color: #000;
  }
}
.que-header {
  font-family: proxima nova;
  font-size: 16px;
  font-weight: bold;
  line-height: 2em;
  display: block;
}
.que-subheader {
  font-family: inherit;
  font-size: 16px;
  display: block;
  color: #cccccc;
}

.mat-progress-bar {
  width: 90% !important;
  border-radius: 2px;
  ::after {
    background-color: #e91e63;
  }
  .mat-progress-bar-buffer {
    background-color: #e6e6e6 !important;
  }
  .mat-progress-bar-fill {
    ::after {
      border-radius: 2px !important;
    }
  }
}
.user-info {
  .mat-progress-bar ::after {
    background-color: #E03997;
  }
}

.bg-lightgray {
  background-color: #f8f8f8;
}
.page-header {
  padding: 20px 0px;
  h1 {
    font-family: proxima nova;
    font-size: 14px;
    font-weight: bold;
  }
}
.progress-indicator {
  width: 100%;
  text-align: left;
  padding: 2% 6%;
}
.spinner-bubbles {
  color: #e03997 !important;
}
.lightgray-text {
  color: #c3c6cb;
  font-size: 16px;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.h-25 {
  height: 25px;
}
// removing from all pages through css, can be enabled if added in new design
ion-buttons {
  ion-back-button {
    display: none !important;
  }
}
// chatbot css
#add-button {
  top: auto;
  right: 20px;
  bottom: 109px;
  left: auto;
  position: fixed;
}
.chat-page-header {
  img {
     width: 80px;
     height: 80px;
   }
 }
 .chat-title{
   position: relative;
   
 }
// *************

.chats {
  position: relative;
  z-index: 0;
}

.chats .chatbox {
  padding: 0 40px;
  margin-bottom: 5px;
}

.joined {
clear: both;
line-height: 18px;
font-size: 15px;
margin: 8px 0;
padding: 8px;
}
.joined span {
padding: 5px
}

/* chatbot scss*/
.chat-page-header {
  img {
     width: 80px;
     height: 80px;
   }
 }
 .chat-title{
   position: relative;
   
 }
.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  max-width: 85%;
  word-wrap: break-word;
  z-index: -1;
  border-radius: 15px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}

.message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
}


.message:first-child {
  margin: 16px 0 8px;
}

.message.sent{
  color: white;
  background: #00B5AD;
  align-items: flex-end;
  float: right;
}
.message.sent:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #00B5AD;
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.message.sent:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}
 .message.received {
color:black;
background: #ccc;
align-items: flex-start;
float: left;
}
.message.received:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #ccc;
  border-bottom-right-radius: 15px;
}
.message.received:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}
.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.metadata .time {
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}
#add-button {
  top: auto;
  right: 20px;
  bottom: 109px;
  left: auto;
  position: fixed;
}
.btn-close{
  position: relative;
  bottom: 37px;
}
.chat-content {
  position: relative;
  top: 13px;
}
.remove-appearance-outline {
  .mat-form-field-appearance-outline .mat-form-field-outline{
    .input{
  border: 1px solid grey;
  border-radius:25px !important;
}
  }
}

/***End of the Chatbot scss***/
.circled{
  border-radius: 50%;
  border: 1px solid white;
  background-color: grey;
  margin: 19px;
  position: relative;
}
.custom-mat-btn-toggle-group {
  height: 38px;
  width: 161px;
  border: none !important;
  .mat-button-toggle {
  background-color: #e0e0e0;
  color: #5a5a5a;
  width: 100px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  .mat-button-toggle-label-content {
  line-height: 36px;
  }
  &.yes-btn {
  margin-right: 2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  }
  &.no-btn {
  margin-left: 2px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  }
  &.mat-button-toggle-checked {
  background-color: #21ba45;
  color: #ffffff;
  }
  }
  .circle {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  text-align: center;
  line-height: 1.6;
  left: 45%;
  z-index: 9;
  top: 23%;
  color: #5a5a5a;
  font-weight: 500;
  font-size: 12px;
  }
 }
.mat-accordion.user-financial-info {
  .mat-expansion-indicator {
    margin-right: 15px !important;
  }
  // .mat-expanded {
  //   .mat-expansion-indicator {
  //     margin-right: 15px !important;
  //   }
  // }
}
.mat-form-field-appearance-outline .mat-form-field-prefix {
  top: 0em !important;
}
.align-end {
  text-align: end !important;
}
.menu-inner {
      background-color: transparent !important;
  }
.link {
  text-decoration: underline;
  font-size: 16px;
  color: #ccc;
}
  
.circled-ele{
  position: absolute;
  bottom: 3px;
  left: 305px;
  right: 2px;
}
.txt-black {
  color: #333;
}
.bg-blk {
  background-color: #000000;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color:  #000000;;
}