.n-m {
    margin: 0px !important;
  }
  .n-p {
    padding: 0px !important;
  }
  .n-sh {
    box-shadow: none !important;
  }
  .mat-card-image{
    margin: 0 !important;
}
.zip-input{
  margin: 10px !important;
    padding: 4px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    text-align: center;
}
.w-90 {
  width: 90% !important;
}
.pink_color{
  background-color: #E03997;
  color:white
}
.wdth-40{
  width:100%;
  height: auto;
   background-color: #FAFAFA;

    text-align: center;

}
.bttn-bottm{
   padding:20px;
}
.txt-cntr{
  text-align: center;
}
.header-title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}
.header-subtitle {
  font-family: Proxima Soft;
  font-size: 14px;
  font-weight: bold;
  color: #070707;
}
.btn-border {
  border-radius: 2px;
  border-color: #00B5AD;
  margin-right: 10px;
}